* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

/* <!-- ----------------------------------------------------------  --> */

/* Banner */

.banner {
  background: url(https://viajes.nationalgeographic.com.es/medio/2018/10/23/biblioteca-publica-de-estocolmo_61c07b65_1500x1000.jpg);

  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  opacity: 95%;
  z-index: 1;
}

/* <!-- ----------------------------------------------------------  --> */

/* Body */

body {
  background-color: rgb(242, 199, 93);
  font-family: "Montserrat", sans-serif;
}

main {
  color: rgb(59, 79, 97);
}

header {
  background-color: rgb(17, 17, 17);
  font-size: 1.2rem;
  width: 100%;
  border-bottom: aliceblue 0.5rem solid;

  -webkit-box-shadow: 0px 9px 30px 25px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 9px 30px 25px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 9px 30px 25px rgba(0, 0, 0, 0.6);
}

/* <!-- ----------------------------------------------------------  --> */

/* Navbar y menú desplegable */

.logo--header {
  width: 4rem;
  margin: 0 4rem 0 8rem;
}

.nombreSitio {
  color: #facd3ae7;
}

.logoHeader {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

header div {
  display: inline-flex;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-between;
}

div nav ul {
  display: flex;
  margin-right: 3rem;
}

li {
  background-color: black;
  display: inline-block;
}

li a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
  margin: 1.5rem;
  display: inline-block;
}

ul li {
  text-decoration: none;
}

.subMenu {
  display: none;
  position: absolute;
  z-index: 2;
}

.navConteiner li {
  display: inline-block;
}

.navConteiner li:hover ul {
  display: block;
}

.subMenu li {
  display: block;
  position: relative;
}

/* <!-- ----------------------------------------------------------  --> */

.descBreve {
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.biografia {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

/* ------------------------------------------------------------------------- */

/* separador */

.separador {
  width: 70%;
  margin: 0 auto;
  display: block;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 70%;
}

/* ------------------------------------------------------------------------- */

/* Primer titulo y su parrafo */

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}

.conteinerParagraph {
  margin: 2rem auto;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.paragraph {
  font-size: 1.2rem;
}

/* ------------------------------------------------------------------------- */

/* video del inicio */

iframe {
  display: block;
  margin: 0 auto;
  width: 65%;
  height: 500px;
}

/* ------------------------------------------------------------------------- */

.contenedor {
  margin: 5rem 0;
  display: inline-flex;
  justify-content: space-evenly;
  height: 20rem;
}

/* ------------------------------------------------------------------------- */
/* segundo parrafo e imgaen */

.contenedor__primerArticulo {
  display: inline-flex;
  flex-direction: row;
  margin: 0 10rem;
}

.subtitle__izquierda {
  font-size: 2.9rem;
  font-weight: 800;
  display: flex;
  margin: 2rem 0;
}

.paragraph__izquierda {
  display: flex;
}

.conteinerParagraph--alineadoIzquierda {
  display: inline-flex;
  flex-direction: column;
  margin: 0 0;
  font-weight: 400;
  width: 50rem;
}

/* ------------------------------------------------------------------------- */
.imagen {
  display: inline-flex;
  margin: 0 10rem;
}

/* ------------------------------------------------------------------------- */

/* Banner Hero - sobrenosotros.html */

.heroTitle {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.heroDesc {
  font-size: 15px;
  width: 100%;
  font-weight: 500;
  color: aliceblue;
}

.heroConteiner {
  background-color: rgb(194, 134, 12);
  display: inline-block;
  width: 25%;
  padding: 30px;
  margin: 8rem 8rem 1rem;

  -webkit-box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 22px 3px rgba(255, 255, 255, 0.5);

  -webkit-border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  border-radius: 27px 27px 27px 27px;
}

.contactButtom {
  width: 10%;
  height: 10%;
  margin: 0 8rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  color: rgba(97, 96, 96, 0.748);
  background-color: rgb(255, 229, 190);
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
  border: solid 2px #ffffff;
}

/* ------------------------------------------------------------------------- */

/* Footer */

.redes {
  display: flex;
  padding: 10px;
}

.servicios {
  display: flex;
  padding: 10px;
}

footer {
  background-color: black;
  color: aliceblue;
  list-style: none;
  width: 100%;
  height: 12rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

div ul {
  display: flex;
}

.listaFooter {
  display: inline-flex;
}

.servicios .listaFooter li a {
  display: inline-flex;
  margin: 0 3rem;
}

.redes .listaFooter li a {
  display: inline-flex;
  margin: 0 1rem;
}

footer .listaFooter ul li a {
  display: flex;
}

footer {
  display: flex;
}

footer div {
  margin: 0 4rem;
}

footer ul li a {
  color: rgb(255, 224, 50);
}

footer .servicios ul li a {
  color: rgb(255, 255, 255);
}

.logo--footer {
  width: 4rem;
}
